@model GigHub.Core.ViewModels.FollowingsViewModel
@{
    ViewBag.Title = "Followings";
}

<h2>@Model.Heading</h2>

<ul class="followings voffset4">
    @foreach (var following in Model.MyFollowings)
    {
        <li>
            @following.Name
            @following.Id
        </li>
    }
</ul>

